---
const { primeFeed } = Astro.props;
---

<ul class="list mt0-ns">
    {
        primeFeed.map((article) => (
            <li class="pa3-l pb4-ns pb3 ph4-l bb b--black-10">
                <a href={article.seo_url} class="navy link dim">
                    <b class="db f3-l f4 mb1 no-underline">{article.title}</b>
                </a>
                <span class="f5 db lh-copy measure">{article.lede}</span>
            </li>
        ))
    }
</ul>
