<main class="mw6 center">
    <article class="dt w-100 bb b--black-05 pb2 mt2" href="#0">
        <div class="dtc w2 w1-ns v-mid">
            <h1 class="f6 f5-ns fw6 lh-title black mv0">Potsdam</h1>
        </div>
        <div class="dtc v-mid pl3">
            <i class="wi wi-day-sunny gold"></i><span class="pl2 black-60"
                >89<i class="wi wi-fahrenheit pl1"></i>
            </span><i class="wi wi-raindrop pl3 blue"></i><span
                class="black-60 pl1"
                >15%
            </span>
        </div>
    </article>
    <article class="dt w-100 bb b--black-05 pb2 mt2" href="#0">
        <div class="dtc w2 w1-ns v-mid">
            <i class="wi wi-day-sunny yellow"></i>
        </div>
        <div class="dtc v-mid pl3">
            <h1 class="f6 f5-ns fw6 lh-title black mv0">Malone</h1>
        </div>
    </article>
    <article class="dt w-100 bb b--black-05 pb2 mt2" href="#0">
        <div class="dtc w2 w1-ns v-mid">
            <i class="wi wi-day-sunny gold"></i>
        </div>
        <div class="dtc v-mid pl3">
            <h1 class="f6 f5-ns fw6 lh-title black mv0">Deirdre Lachance</h1>
            <h2 class="f6 fw4 mt0 mb0 black-60">@favfavfav</h2>
        </div>
    </article>
    <article class="dt w-100 bb b--black-05 pb2 mt2" href="#0">
        <div class="dtc w2 w1-ns v-mid">
            <i class="wi wi-day-sunny yellow"></i>
        </div>
        <div class="dtc v-mid pl3">
            <h1 class="f6 f5-ns fw6 lh-title black mv0">Frederic Starner</h1>
            <h2 class="f6 fw4 mt0 mb0 black-60">@hungryhippofanatic</h2>
        </div>
    </article>
    <article class="dt w-100 bb b--black-05 pb2 mt2" href="#0">
        <div class="dtc w2 w1-ns v-mid">
            <i class="wi wi-day-sunny blue"></i>
        </div>
        <div class="dtc v-mid pl3">
            <h1 class="f6 f5-ns fw6 lh-title black mv0">Cleveland Ridout</h1>
            <h2 class="f6 fw4 mt0 mb0 black-60">@purethinking</h2>
        </div>
    </article>
</main><i class="wi wi-day-sunny gold"> </i>
